* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg,#a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089);
  color: white;
}

/* HEADER */
header {
  text-align: center;
  background-color: #203a43;
  padding: 40px;
}

header h1 {
  font-size: 40px;
}

header p {
  color: #00e676;
}

.India img{
  height: 25px;
  position: relative;
  top: 7px;
  
}

/* HERO IMAGE */
.hero {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.hero img {
  width: 260px;
  border-radius: 50%;
  border: 4px solid #fab742e1;
  transition: 0.4s;
}

.hero img:hover {
  transform: scale(1.08);
}

/* GLASS CARDS */
.glass {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background: rgba(117, 88, 161, 0.527);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.glass:hover {
  transform: translateY(-5px);
}

h2 {
  color: #122040;
  margin-bottom: 10px;
}

/* TIMELINE CONTAINER */
.timeline {
  position: relative;
  width: 70%;
  margin: 40px auto;
  padding-left: 40px;
}

/* VERTICAL LINE */
.liner {
  position: absolute;
  left: 15px;
  top: 0;
  width: 4px;
  height: 100%;
  background: #00e676;
}

/* EACH ITEM */
.timeline-item {
  position: relative;
  margin: 30px 0;
  padding-left: 20px;
}

/* DOT (GOAL POINT) */
.goal {
  position: absolute;
  left: -27px;
  top: 5px;
  width: 18px;
  height: 18px;
  background: #f6ab2a;
  border-radius: 50%;
  box-shadow: 0 0 10px #00e676, 0 0 20px #00e676;
  transition: 0.3s;
}

/* HOVER EFFECT */
.timeline-item:hover .goal {
  transform: scale(1.3);
  background: #4ff481cb;
}

/* YEAR BADGE */
.timeline-item span {
  background: #00e676;
  color: black;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
  margin-right: 10px;
}

/* TEXT */
.timeline-item p {
  display: inline;
}

/* QUOTE */
.quote {
  text-align: center;
  padding: 30px;
}

blockquote {
  font-style: italic;
  background: rgba(0,0,0,0.3);
  display: inline-block;
  padding: 15px;
  border-left: 5px solid #00e676;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #203a43;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .glass, .timeline {
    width: 90%;
  }

  header h1 {
    font-size: 28px;
  }
}